<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rawcdn.githack.com/AdeleYidanZhang/Yidan_heroku/cc4821cf3f26ea829548e30116b56442f152e849/pics.css">
    <title>Cat Pics</title>
</head>

<body>
    <h1> Cat Pics</h1>
<div class="container">
    <div class="image fade">
        <img src="https://rawcdn.githack.com/AdeleYidanZhang/Yidan_heroku/bd142fa5be1e91921f94e61d8551dae5a7e07d7d/cat1.jpg" width="100%">
    </div>
    <div class="image fade">
        <img src="https://rawcdn.githack.com/AdeleYidanZhang/Yidan_heroku/bd142fa5be1e91921f94e61d8551dae5a7e07d7d/cat2.jpg" width="100%">
    </div>
    <div class="image fade">
        <img src="https://rawcdn.githack.com/AdeleYidanZhang/Yidan_heroku/bd142fa5be1e91921f94e61d8551dae5a7e07d7d/cat3.jpg" width="100%">
    </div>
    <div class="image fade">
        <img src="https://rawcdn.githack.com/AdeleYidanZhang/Yidan_heroku/bd142fa5be1e91921f94e61d8551dae5a7e07d7d/cat4.jpg" width="100%">
    </div>
    <div class="image fade">
        <img src="https://rawcdn.githack.com/AdeleYidanZhang/Yidan_heroku/bd142fa5be1e91921f94e61d8551dae5a7e07d7d/cat5.jpg" width="100%">
    </div>
    <div class="image fade">
        <img src="https://rawcdn.githack.com/AdeleYidanZhang/Yidan_heroku/bd142fa5be1e91921f94e61d8551dae5a7e07d7d/cat6.jpg" width="100%">
    </div>
    <div class="image fade">
        <img src="https://rawcdn.githack.com/AdeleYidanZhang/Yidan_heroku/bd142fa5be1e91921f94e61d8551dae5a7e07d7d/cat7.jpg" width="100%">
    </div>
    <div class="image fade">
        <img src="https://rawcdn.githack.com/AdeleYidanZhang/Yidan_heroku/bd142fa5be1e91921f94e61d8551dae5a7e07d7d/cat8.jpg" width="100%">
    </div>

    <a id="prev" onclick="show_slide(-1)">&#10094;</a>
    <a id="next" onclick="show_slide(1)">&#10095;</a>
    
    <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>

<script src="https://rawcdn.githack.com/AdeleYidanZhang/Yidan_heroku/cc4821cf3f26ea829548e30116b56442f152e849/pics.js"></script>
</body>
</html>