<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <script src="pic.js"></script>

<style>
    * {
        font-family: "Pixel", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }
</style>
</head>
<body>
    <div>
        <h1>Welcome!</h1><br>
        <p>This website is from the planet of cats.</p>
        <a href="\signin"><button>Sign In</button></a>
        
    </div>
    <div id="problem" class="problem">
            <p>
            </p>
          </div>
</body>

</html>